@media screen and (max-width: 850px){
  ul.nav li{
    display: block;
    padding:0;
    text-align: left;
    margin: 0 auto;
  }

  .flex-control-nav li p.title_piece{
    font-size: .65em
  }

  .flex-control-nav li p.artist{
    font-size: .65em;
  }

}
